{% extends 'base.html.twig' %}
	
{% block title %}{{ tarea.titulo }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ tarea.titulo }}</h1>
        
        <table class="table">
            <tr>
                <th>Estado</th>
                <td>{{ tarea.estado }}</td>
            </tr>
            <tr>
                <th>Descripción</th>
                <td>{{ tarea.descripcion }}</td>
            </tr>
            <tr>
                <th>Prioridad</th>
                <td>
                    {{ tarea.prioridad }} / 10
                    {% if tarea.prioridad > 8 %}
                        </br><strong style="color: red;"> - ¡URGENTE!</strong>
                    {% endif %}
                </td>
            </tr>
        </table>
        <a href="{{ path('tarea_filtro_estado', { status: tarea.estado }) }}">
            Ver más tareas en estado {{ tarea.estado }}
        </a>
        </br>
        <a href="{{ path('listado_tareas') }}">Volver al listado</a>
    </div>
{% endblock %}